#!name =  iRingo: 🌤 WeatherKit
#!desc = iOS 18 & macOS 15 & watchOS 11\n1.解锁全部天气功能\n2.替换空气质量数据\n3.添加下一小时降水数据
#!openUrl = http://boxjs.com/#/app/iRingo.WeatherKit
#!author = VirgilClyne[https://github.com/VirgilClyne],WordlessEcho[https://github.com/WordlessEcho]
#!homepage = https://NSRingo.github.io/guide/Weather/weather-kit
#!icon = https://developer.apple.com/assets/elements/icons/weatherkit/weatherkit-128x128.png
#!category =  iRingo
#!date = 2025-08-13 09:34:07
#!version = 1.9.6

#[rewrite_local]
# 🌤 WeatherKit.api.v1.availability.response
^https?:\/\/weatherkit\.apple\.com\/api\/v1\/availability\/ url script-response-body https://raw.bofoi.com/assets/NSRingo/WeatherKit/releases/download/v1.9.6/response.bundle.js
# 🌤 WeatherKit.api.v1.weather.request
^https?:\/\/weatherkit\.apple\.com\/api\/v2\/weather\/ url script-request-header https://raw.bofoi.com/assets/NSRingo/WeatherKit/releases/download/v1.9.6/request.bundle.js
# 🌤 WeatherKit.api.v2.weather.response
^https?:\/\/weatherkit\.apple\.com\/api\/v2\/weather\/ url script-response-body https://raw.bofoi.com/assets/NSRingo/WeatherKit/releases/download/v1.9.6/response.bundle.js
# 🌤 Weather Analytics
^https?:\/\/weather-analytics-events\.apple\.com\/ url reject

#[mitm]
hostname = weatherkit.apple.com, weather-analytics-events.apple.com, *.tthr.apple.com
